@model IEnumerable<Project3.Models.Estimate>
@{
    ViewData["Title"] = "Estimates";
    Layout = "~/Areas/System/Views/Layout/LayoutAdmin.cshtml";
}
<div class="content-body">
<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Hi, welcome !</h4>

            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">

                <a asp-action="Create" class="btn btn-rounded btn-info">
                    <span class="btn-icon-left text-info">
                        <i class="fa fa-plus color-info"></i>
                    </span>Create new
                </a>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Account</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="display" style="min-width: 845px; color:black;">
                            <thead>
                                <tr>

                                    <th>Estimate Number</th>
                                    <th>Vehicle</th>
                                    <th>Policy Type</th>
                                    <th>Warranty</th>
                                    <th>Estimated Cost</th>
                                    <th>Actions</th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.EstimateNumber</td>
                                        <td>@item.VehicleName</td>
                                        <td>@item.PolicyType?.PolicyName</td>
                                        <td>@item.Warranty?.WarrantyType</td>
                                        <td>@item.VehicleRate</td>
                                        <td>
                                            <a href="@Url.Action("Details", new { id = item.EstimateNumber })" class="btn btn-info btn-sm">Details</a>
                                            <a href="@Url.Action("Edit", new { id = item.EstimateNumber })" class="btn btn-warning btn-sm">Edit</a>
                                            <a href="@Url.Action("Delete", new { id = item.EstimateNumber })" class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>