@model Project3.Models.VehicleWarranty

@{
    ViewData["Title"] = "Delete Vehicle Warranty";
    Layout = "~/Areas/System/Views/Layout/LayoutAdmin.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <a asp-action="Index" class="btn btn-rounded btn-secondary">
                        Back to List
                    </a>
                </ol>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-danger text-white text-center">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center">Are you sure you want to delete this vehicle warranty?</h4>
                        <dl class="row mt-4">
                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WarrantyType)</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.WarrantyType)</dd>

                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WarrantyDuration)</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.WarrantyDuration)</dd>

                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.WarrantyDetails)</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.WarrantyDetails)</dd>
                        </dl>
                        <form asp-action="Delete" method="post" class="text-right mt-4">
                            <input type="hidden" asp-for="WarrantyId" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

