@model Project3.Models.InsuranceProcess

@{
    ViewData["Title"] = "Insurance Process Details";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}

<h1>Insurance Process Details</h1>

<div>
    <h4>Insurance Process</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolicyDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolicyDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleWarranty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleWarranty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBodyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleBodyNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleEngineNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleEngineNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddProve)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddProve)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
