@model IEnumerable<Project3.Models.InsuranceProcess>

@{
    ViewData["Title"] = "Insurance Processes";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}

<h1>Insurance Processes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Policy Number</th>
            <th>Customer Name</th>
            <th>Vehicle Name</th>
            <th>Vehicle Model</th>
            <th>Policy Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PolicyNumber</td>
                <td>@item.CustomerName</td>
                <td>@item.VehicleName</td>
                <td>@item.VehicleModel</td>
                <td>@item.PolicyDate</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
